# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Project Specific
results/
dataset_link/
test_images/
training_notbook/
.idea/
.vscode/

# Large Files (Optional: Uncomment if you want to upload the model manually)
# *.keras
# *.h5